set number relativenumber
set idearefactormode=keep
set ideajoin
set surround
set easymotion

let mapleader = " "

noremap <Esc> <nop>
nmap <S-Enter> O<Esc>
nmap <CR> o<Esc>

" Move lines with Alt+j/k instead
nnoremap <A-j> :m +1<CR>
nnoremap <A-k> :m -2<CR>
inoremap <A-j> <Esc>:m +1<CR>gi
inoremap <A-k> <Esc>:m -2<CR>gi

" Keep split navigation with Ctrl+h/j/k/l
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l


" actions
nmap <leader>v <action>(SplitVertically)
nmap <leader>u <action>(Unsplit)
nmap <leader>n <action>(NextSplitter)
nmap <leader>p <action>(PrevSplitter)
nmap <leader>l <action>(NextTab)
nmap <leader>h <action>(PreviousTab)
nmap <leader>fd <action>(CloseEditor)
nmap <leader>i <action>(Generate) 
nmap <leader>s <action>(QuickChangeScheme)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(GotoNextError)
nnoremap <leader><leader> :action Switcher<CR>

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
